/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Full Height Setup */
html, body {
    height: 100%;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* White background */
    color: black; /* Black text color */
}

/* Message Header Styling */
.header.message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    color: #721c24;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 5px;
}

.header.message button.close-message {
    background-color: #ff0019;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;
}

.header.message button.close-message:hover {
    background-color: #a94442;
}

/* Container Styling */
.nav_container {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: space-between; /* Align items on opposite sides */
    align-items: center; /* Center items vertically */
    padding: 1%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

/* Header Styling */
.header {
    text-align: left;
    padding: 5px;
}

h1 {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 2rem; /* Increased font size for better visibility */
    font-weight: 800; /* Bold font weight for emphasis */
    font-family: "Brush Script MT", cursive; /* Cursive font style */
    color: #d60000; /* Bright orange color for clarity */
    text-shadow: 1px 2px 1px rgba(190, 190, 190, 0.829); /* Add shadow for better contrast */
}

/* Paragraph Styling */
p {
    margin: 1px 0;
    font-size: 1.1rem;
    padding: 5px;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: flex-end; /* Align navigation items to the right */
}

/* Button Styling (links) */
.navbar a.button {
    color: black; /* Button text color */
    text-decoration: none; /* Remove underline */
    font-size: 1.1rem;
    font-weight: 200;
    padding: 1px 1px;
    margin: 0 10px;
    transition: all 0.3s ease;
}

/* Underline on Hover */
.navbar a.button:hover {
    text-decoration: underline; /* Underline text on hover */
}

/* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: rgb(0, 0, 0); /* Set color to black */
    margin-right: 20px;
    transition: color 0.3s ease;
}

/* Overlay Styling */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.overlay.active {
    display: block;
}

.overlay-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    max-width: 400px;
    background-color: rgba(56, 49, 49, 0.911);
    padding: 30px 20px;
}

.overlay a {
    font-size: 1.1rem;
    color: black; /* Button text color */
    text-decoration: none;
    display: block;
    background-color: rgba(255, 0, 0, 0.822);
    margin: 10px 20px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    transition: background-color 0.3s;
}

/* Close Button Style */
.close-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 1.1rem;
    color: rgb(255, 0, 0);
    background-color: rgb(163, 143, 143);
    padding: 2%;
    border-radius: 100%;
    cursor: pointer;
    z-index: 10000;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .navbar a {
        margin: 10px 0;
        background-color: rgb(5, 5, 5);
    }
}

/* Hero Section */
section.Hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0); /* Text color set to black */
    padding: 2px 0;
    text-align: center;
    margin-top: 1px;
    margin-left: 10%;
    margin-right: 10%;
}

/* About Section */
section.about {
    background-color: #ffffff; /* White background */
    padding: 2px 0;
    color: black; /* Text color set to black */
    text-align: center;
}

.container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 200;
    letter-spacing: 1px;
    border-bottom: black solid 2px;
    padding-bottom: 5px;
}

h3 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 5px;
    color: black; /* Text color set to black */
    font-weight: 200;
}

/*skills Card Layout */
.skills-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* Responsive grid */
    gap: 25px;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

.skill-card {
    background-color: #f7f7f7; /* Lighter background for card */
    padding: 15px;
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Soft shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
    /* Align text to the left */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.skill-card:hover {
    transform: translateY(-20px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.skill-image {
    width: 100%;
    height:200px; /* Fixed height for consistency */
    /* Set a fixed height for the image */      
    object-fit: cover;
    /* Ensure the image covers the area without distortion */
    border-radius: 10px;
    margin-bottom: 15px;
}

.skill-card h4 {
    font-size: 1.5rem;
    color: black; /* Text color set to black */
    margin-bottom: 1px;
    font-weight: 200;
}

.skill-card p {
    font-size: 1.1rem;
    color: #555; /* Darker gray text color */
    margin-top: 1px;
    line-height: 1.4;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .skills-cards {
        grid-template-columns: 1fr 1fr;
        /* 2 cards per row on medium screens */
    }
}

@media screen and (max-width: 480px) {
    .skills-cards {
        grid-template-columns: 1fr;
        /* 1 card per row on small screens */
    }
}

/* Hover Effects */
.skill-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    /* Deeper shadow on hover */
    transform: translateY(-5px);
    /* Slight lift effect */
}

/* Feature Project Section */
section.portfolio {
    background-color: #ffffff; /* White background */
    padding: 40px 0;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.portfolio h2 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 40px;
    color: black; /* Text color set to black */
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Flexible grid for responsiveness */
    gap: 20px;
}

.project-card {
    background-color: #f7f7f7; /* Lighter background for project card */
    padding: 20px;
    border-radius: 10px; /* Rounded corners for the card */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow for the card */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; /* Hide any overflow */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.project-card:hover {
    transform: translateY(-10px); /* Lift card on hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow effect on hover */
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover; /* Ensure the image covers the area without distortion */
    max-height: 200px; /* Fixed height for consistency */
}

.project-title {
    font-size: 1.5rem;
    color: black; /* Text color set to black */
    margin-top: 20px;
    font-weight: 800;
}

.project-description {
    font-size: 1.1rem;
    color: #555; /* Darker gray text color */
    margin-top: 10px;
    line-height: 1.4;
    flex-grow: 1;
}

.project-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 1.1rem;
}

.read-more-btn {
    font-size: 1.1rem;
    color: black; /* Button text color */
    text-decoration: none;
    background-color: #ff0000;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.read-more-btn:hover {
    background-color: #e60000;
}

.views {
    font-size: 1.1rem;
    color: #ccc;
}

.views i {
    color: #ff0;
    margin-right: 5px;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .portfolio h2 {
        font-size: 1.5rem;
    }
    .project-card {
        padding: 15px;
    }
    .read-more-btn {
        font-size: 0.9rem;
        padding: 8px 12px;
    }
}

/* Contact Section */
section.contact {
    background-color: #ffffff;  
    padding: 20px 0;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact h2 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

form input,
form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

form button {
    padding: 10px 15px;
    font-size: 1.1rem;
    color: black; /* Text color set to black */
    background-color: #ffffff;
    border-radius: 0; /* Removed border-radius */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #ff0000;
}

form button:active {
    transform: scale(0.98);
}

/* Map Container */
.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio for the map */
    height: 0;
    overflow: hidden;
    margin-bottom: 1px;/* Ensure there's space between the map and footer */
    margin-left: 10%; 
    margin-right: 10%;

}

.map-container iframe {
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Use full height of the container */
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: #ffffff; /* White background */
    padding: 10% 10%; /* Add padding and margin to center footer */
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%; /* Adjust width to make footer narrower and centered */
    margin-top: 20px; /* Add some space between footer and content above */
}

.footer-content {
    margin: 0 auto;
    padding: 2px;
}

.footer h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 800;
    color: black; /* Text color set to black */
    padding-bottom: 5px;
    text-align: center;
    border: none;
}

.footer p {
    font-size: 1.1rem;
    font-weight: 800;
    color: black; /* Text color set to black */
    padding: 1px;
    margin: 0;
}



/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
