/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Full Height Setup */
html, body {
    height: 100%;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Background color */
    color: white; /* Text color */
}

/* Container Styling */
.container {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: space-between; /* Align items on opposite sides */
    align-items: center; /* Center items vertically */
    padding: 1%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

/* Header Styling */
.header {
    text-align: left;
    padding: 5px;
}

h1 {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: 600; /* Bold font weight */
}

/* Paragraph Styling */
p {
    margin: 5px 0;
    font-size: 1rem;
    padding: 10px;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: flex-end; /* Align navigation items to the right */
}

/* Button Styling (links) */
.navbar a.button {
    color: white; /* Button text color */
    text-decoration: none; /* Remove underline */
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 20px;
    margin: 0 10px;
    transition: all 0.3s ease;
}

/* Underline on Hover */
.navbar a.button:hover {
    text-decoration: underline; /* Underline text on hover */
    color: rgb(255, 0, 0); /* Red text color on hover */
}

/* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: rgb(250, 0, 0);
    margin-right: 20px;
    transition: color 0.3s ease;
}

/* Overlay Styling */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.overlay.active {
    display: block;
}

.overlay-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    max-width: 400px;
    background-color: rgba(56, 49, 49, 0.911);
    padding: 30px 20px;
}

.overlay a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    display: block;
    background-color: rgba(255, 0, 0, 0.822);
    margin: 10px 20px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    transition: background-color 0.3s;
}

/* Close Button Style */
.close-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 1.1rem;
    color: rgb(255, 0, 0);
    background-color: rgb(163, 143, 143);
    padding: 2%;
    border-radius: 100%;
    cursor: pointer;
    z-index: 10000;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .navbar a {
        margin: 10px 0;
        background-color: rgb(5, 5, 5);
    }
}

/* Hero Section */
section.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(11, 255, 43);
    padding: 80px 0;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

/* About Section */
section.about {
    background-color: #000000; /* Solid color background */
    padding: 10px 0;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.about h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.about p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.about h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.about ul {
    list-style: none;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
    max-width: 1800px;
}

.about ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
    padding-left: 0; /* Removed the tick symbol and padding */
}

/* Portfolio Section */
section.portfolio {
    background-color: #000000;
    padding: 20px 0;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.portfolio h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.project {
    background-color: transparent;
    padding: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
}

.project a {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.project a:hover {
    background-color: #ff0000;
    color: #ffffff;
}

.project h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.project p {
    font-size: 1.1rem;
    color: #ffffff;
}

/* Contact Section */
section.contact {
    background-color: #020202;
    padding: 20px 0;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

form input,
form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 1rem;
}

form button {
    padding: 10px 15px;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 0; /* Removed border-radius */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #ff0000;
}

form button:active {
    transform: scale(0.98);
}

/* Map Container */
.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 28%;
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: #000000;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    margin-left: 10%;
    margin-right: 10%;
    position: sticky;
}

.footer-content {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

.footer-content h2 {
    font-size: 1.5rem;
    margin-bottom: 2px;
    font-weight: 600;
    color: #000000;
    padding-bottom: 1px;
    text-align: left;
}

.footer-content p {
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 1px;
    color: #000000;
    padding: 10px;
    border-radius: 0; /* Removed border-radius */
    background-color: rgba(177, 177, 177, 0.973);
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
